body{
    background-color: #3668ff;
    
}
.logo{
    font-size: 32px;
    position: absolute; top: -10px;
    position: absolute; left: 10px;
    color: white;
}
.stuff{
    position: absolute;top:13px;
    position: absolute;right: 10px;
    color: white;
    font-size: 20px;
}
.sign{
    position: absolute;top: 13px;
    position: absolute;right: 85px;
    color: white;
    font-size: 20px;
    text-decoration:none;

}
.view{
    position: absolute; top: 13px;
    position: absolute; right: 175px;
    color: white;
    font-size: 20px;
}
.ad1{
    color: white;
    font-size: 35px;
    position: relative;top:48px
}
.ad2{
    color: white;
    font-size: 35px;
    position: relative;top:49px;
}
.ad3{
    color: white;
    font-size: 35px;
    position: relative;top:50px
}
.copyright{
    color: white;
    position: absolute;bottom:-30px;
    position: absolute;right: 415px;
    font-size: 8px;
}
.bottom{
    color: white;
    position: absolute;bottom: -10px;
    position: absolute;right: 275px;
    font-size: 13px;
}

.box1{
    position: absolute;top:300px;
    position: absolute;right:450px;
    height:30px;
    width: 400px;
}
.email{
    color: white;
    font-size: 19px;
    position: absolute;right:850px;
    position: absolute;top: 275px;
}
.box2{
    position: absolute;top: 375px;
    position: absolute;right:450px;
    height:30px;
    width: 400px;
}
.password{
    color: white;
    font-size: 19px;
    position: absolute;right:825px;
    position: absolute;top:350px;
}
.forgotten{
    color: white;
    position: absolute;top:500px;
    position: absolute;right: 610px;
}
.login{
    background-color: rgb(91, 91, 243); 
    border: none;
    color: white;
    padding: 15px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;top: 410px;
    position: absolute;right:520px
    
}
.account{
    color: white;
    position: absolute;top:570px;
    position: absolute;right:565px;
}
.signup{
    color: white;
    position: absolute;top: 600px;
    position: absolute;right: 635px;
}